#header {
    display: flex;
    margin: auto;
    height: 5vh;
    width: 90%;
    padding: 25px;
    align-items: center;
    justify-content: space-between;
}

header {
    &_container{
        flex: 1;

        p{
            font-weight: 700px;
        } 
                
        @media screen and (max-width: 768px) {
            flex: 3;
        }

    }

    &_links {
        flex: 3;
        padding-right: 50px;
    }

    div a {
        color: white;
    }

    nav a {
        color: black;
        padding-right: 50px;
        color: white;

        @media screen and (max-width: 768px) {
            padding-right: 10px;
        }
    }

    h1 {
        @media screen and (max-width: 768px) {
            font-size: 25px;
        }
    }
}